<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="algorithm" type="EarinProject.Configuration.AlgorithmConfigurationSection, EarinProject"/>
  </configSections>
  <algorithm 
    Generations ="100"
    PoolSize ="1000"
    Breeders ="0.10"
    Elitism ="0.10"
    Mutation ="0.10"
    SandAmount ="100"
    />
</configuration>